/*------------------------- Navbar--------------------- */
.navbar {
  display: flex;
  height: 10vh;
  width: 100%;
}

.logo {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px wheat;
}

.logo p {
  cursor: pointer;
}

.navbar-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-shadow: 1px 1px wheat;
  width: 80%;
}
.navbar-items p {
  padding: 0 15px;
  cursor: pointer;
}

/*------------------------- Homepage--------------------- */
.homepage {
  display: flex;
  height: 90vh;
  background: white;
  margin: 0px;
}

.jumbotron {
  display: flex;
  height: 60vh;
  width: 100%;
  background: gray;
  background-size: contain;
  background-position: center;
  justify-content: center;
  color: white;
  align-items: flex-end;
}
/*------------------------- Login & Register--------------------- */

.wrapper {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  background: white;
  border-radius: 20px;
  box-shadow: 6px 6px 3px gray;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  cursor: pointer;
}
/*------------------------- Help--------------------- */
.Help {
  background: white;
  display: flex;
  height: 90vh;
  margin: 0px;
  justify-content: center;
  align-items: center;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 300px;
  width: 800px;
}
/*------------------------- Create a Group--------------------- */
.CreateGroup {
  display: flex;
  flex-direction: column;
  height: 90vh;
  background: white;
  margin: 0px;
}

.addGroup {
  position: relative;
  margin-left: 20px;
  cursor: pointer;
  padding: 10px;
  width: 120px;
  box-shadow: 2px 2px 3px black;
  border-radius: 5px;
  margin-bottom: 20px;
}
.addGroup:active {
  box-shadow: none;
}
.addedGroups {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 90vh;
  width: 100%;
}

/*------------------------- Group--------------------- */

#members {
}
.groupElement {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  margin: 10px;
  width: 180px;
  text-align: center;
  box-shadow: 2px 2px 3px black;
}
.groupElement button {
  width: 50%;
}
.groupElement input {
  text-align: center;
}

.buttons-group {
  position: absolute;
  bottom: 5px;
  display: flex;
  width: 100%;
}
.buttons-group button {
  width: 25%;
  font-size: 0.7em;
}
.question {
  position: absolute;
  bottom: 50px;
}
.table-group {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100%;
  overflow-x: hidden;
  top: 50px;
}
/*------------------------- About--------------------- */
.About {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

/*------------------------- Questionaire--------------------- */

.Questionaire form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .logo {
    display: none;
  }
  .navbar-items {
    font-size: 0.7em;
    width: 100%;
  }
  .navbar-items p {
    padding: 0 5px;
  }
  .text {
    font-size: 0.7em;
  }
}
